{% extends "sidebar.html" %}
{% block title %}
CPL
{% endblock %}
{% block content %}
<div class="row d-flex align-items-center px-5 z-1">
    <div class="col-8">
        <h4 class="py-5">Indikator / Capaian Pembelajaran</h4>
        <table class="diplay table table-striped table-hover" id="myTable">
            <thead>
            <tr class="text-center table-dark">
            <th class="py-3">Daftar Mata Pelajaran</th>
            <th class="py-3">Aksi</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
            <td>{{i.2}}</td>
            <td class="text-center">
                <form action="{{url_for('cpmapel')}}" method="post">
                    <input type="hidden" value="{{ i.0 }}" name="id_mapel">
                    <button type="submit" class="btn btn-success"><img src="static/img/icons/plus.svg" class="rounded" style="width: 20px;">  Tambahkan</button>
                </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            lengthMenu: [
                [5, 10, 30, -1],
                [5, 10, 30, 'All'],
            ],
        });

    } );

    $( window ).on( "load", function() {
        $("nav-link").removeClass("active");
        $("#sbcpl").addClass("active");
    });
</script>
{% endblock %}