{% extends "sidebar.html" %}
{% block title %}
Mata Pelajaran
{% endblock %}
{% block content %}
<div class="row d-flex px-5 z-1">
    <div class="col col-5">
        <h4 class="py-5">Tabel Mata Pelajaran</h4>
            <table class="display table table-striped table-hover" id="myTable">
                <thead class="text-center table-dark">
                <th class="py-3">Mata Pelajaran</th>
                <th class="py-3 width-100">Aksi</th>
                </thead>
                <tbody>
                {% for i in data %}
                <tr>
                <td class="py-3">{{i.2}}</td>
                <td class="text-center">
                    <a href="#!" class="btn btn-info" data-target="#Edit{{ i.0 }}" onclick="openForm{{ i.0 }}()"><img src="static/img/icons/edit.svg" class="rounded" style="width: 22px;">  Edit</a>
                    <a href="/deletematapelajaran/{{ i.0 }}" class="btn btn-danger" onclick="return confirm('Yakin Hapus Data?')"><img src="static/img/icons/trash.svg" class="rounded" style="width: 22px;">  Hapus</a>
                </td>
                
                    <div class="modal" id="Edit{{ i.0 }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <form action="{{ url_for('updatemapel')}}" method="post">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mengubah Nama Mata Pelajaran</h1>
                                    <button type="button" class="btn-close" onclick="closeForm{{ i.0 }}()" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="email"><b class="font16">Masukan Nama Mapel Baru</b></label><br><br>
                                    <input type="hidden" name="idmatapelajaran" value="{{ i.0 }}">
                                    <input class="inputpopup" type="text" name="updatematapelajaran" value="{{ i.2 }}" ><br><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="closeForm{{ i.0 }}()">Tutup</button>
                                    <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </tr>
                <script>
                    function openForm{{ i.0 }}() {
                    document.getElementById("Edit{{ i.0 }}").style.display = "block";
                    }

                    function closeForm{{ i.0 }}() {
                    document.getElementById("Edit{{ i.0 }}").style.display = "none";
                    }
                </script>
                
            {% endfor %}
        </tbody>
            </table>
    </div>
    <div class="col col-4 offset-xl-1">
        <div class="position-fixed">
        <h4 class="py-5">Tambahkan Mata Pelajaran</h4>
        <form action="{{url_for('insertmatapelajaran')}}" method="POST">
            <div class="mb-3">
              <label class="form-label">Masukan Nama Mata Pelajaran</label>
              <input type="text" name="matapelajaran" class="form-control" placeholder="Mata Pelajaran Baru" required>
              <div class="form-text">Tekan tombol dibawah untuk menambahkan</div>
            </div>
            <button type="submit" class="btn btn-primary">Tambahkan</button>
          </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            lengthMenu: [
                [5, 10, 30, -1],
                [5, 10, 30, 'All'],
            ],
        });

    } );

    $( window ).on( "load", function() {
        $("nav-link").removeClass("active");
        $("#sbmapel").addClass("active");
    });
</script>
{% endblock %}