{% extends "nav.html" %}
{% block title %}
Homepage
{% endblock %}
{% block content %}
<div class="row d-flex z-1">
    <div class="col-md-6 col-lg-4 col-xl-3">
        <p>1. Masukan Nama Kalian pada kolom "Masukan Nama"</p>
        <p>2. Masukan Kode Kuis yang diberikan oleh pengajar</p>
        <p>3. Tekan tombol kerjakan untuk mulai mengerjakan</p>
        <img src="static/img/kuis-form.png" alt="Bootstrap" width="400" height="auto">
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4>Peraturan KUIS</h4><br>
        <p>1. Setiap soal memiliki batasan waktu untuk mengerjakan</p>
        <p>2. Semakin cepat menjawab maka skor yang didapat akan semakin banyak</p>
        <p>3. Jika jawaban salah skor yang akan diberikan adalah "0" nol</p>
        <p>4. Jika jawaban telah disimpan maka jawaban tidak akan bisa di ubah</p>
    </div>
</div>

<script>
    $( window ).on( "load", function() {
        $("nav-link").removeClass("active");
        $("#nav-panduan").addClass("active");
    });
</script>
{% endblock %}