{% extends "sidebar.html" %}
{% block title %}
Soal
{% endblock %}
{% block content %}
<div class="row d-flex px-5 z-1">
    <div class="col-8">
        <h4 class="py-5">Memasukan Soal</h4>
        <table class="table table-striped table-hover" id="myTable">
            <thead class="text-center table-secondary">
            <th class="py-3">Pilihan Mata Pelajaran</th>
            <th class="py-3">Aksi</th>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
                <th>{{i.2}}</th>
                <td class="text-center">
                    <form action="{{url_for('soalmapel')}}" method="post">
                        <input type="hidden" value="{{ i.0 }}" name="id_mapel">
                        <button type="submit" class="btn btn-info"><img src="static/img/icons/plus.svg" class="rounded" style="width: 20px;">  Tambahkan</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            lengthMenu: [
                [5, 10, 30, -1],
                [5, 10, 30, 'All'],
            ],
        });

    } );

    $( window ).on( "load", function() {
        $("nav-link").removeClass("active");
        $("#sbsoal").addClass("active");
    });
</script>
{% endblock %}