{% extends "nav.html" %}
{% block title %}
Homepage
{% endblock %}
{% block content %}
<div class="row d-flex z-1">
    <div class="pt-5 col-md-6 col-lg-4 col-xl-6">
        <h4>Tentang Pengembang</h4>
        <br>
        <p>Nama : Ilyas Munandar</p>
        <p>No : 085875979647</p>
        <p>Ig : @ilyasmunandarr</p>
    </div>
    <div class="pt-5 col-md-6 col-lg-4 col-xl-6">
        <h4>Pengembangan Sistem</h4>
        <br>
        <p>Python, Flask, Gunicorn, Nginx, Github, Bootsrap v5, Jquery</p>
    </div>
</div>
<script>
    $( window ).on( "load", function() {
        $("nav-link").removeClass("active");
        $("#nav-tentang").addClass("active");
    });
</script>
{% endblock %}